<!DOCTYPE html>
<meta charset="utf-8">
<style>

    body {
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .node {
        stroke: #fff;
        stroke-width: 1.5px;
    }

    .link {
        stroke: #999;
        stroke-opacity: .6;
    }

</style>
<head>
    <title>Stock Market Trade Data Analysis</title>
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Stock Market Trade Data Analysis</h1>
            <h3>By: Mayank Dwivedi, Piyush Gupta, Sagar Parmar</h3>
        </div>
        <div class="row">
            <div class="col-md-offset-1">
                <h4>
                    <span class="label label-warning">Choose year:</span>
                    <select id="year">
                        <option value="2005">2005</option>
                        <option value="2006">2006</option>
                        <option value="2007">2007</option>
                        <option value="2008">2008</option>
                        <option value="2009">2009</option>
                        <option value="2010">2010</option>
                        <option value="2011">2011</option>
                        <option value="2012">2012</option>
                        <option value="2013">2013</option>
                        <option value="2014">2014</option>
                    </select>
                    <span class="label label-warning">Duration:</span>
                    <select id="duration">
                        <option value="3">3</option>
                        <option value="6">6</option>
                        <option value="12">12</option>
                    </select>
                    <span class="label label-warning">Clusters:</span>
                    <select id="num-clusters">
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                    </select>
                    <button class="btn btn-primary col-md-offset-1" type="button" id="button-go">GO</button>
                    <span class="label label-info" id="loading">Loading</span>
                    <br/><br/>
                    <p>
                        <span class="label label-warning">Choose File:</span>
                        <select id="file">
                        </select>
                        <button class="btn btn-primary col-md-offset-4" type="button" id="button-vis" disabled>Visualize</button>
                    </p>
                    <p>
                        <h4>
                            <span class="label label-success">Correlation:</span>
                            <input type="text" id="corr" style="border:0;" class="">
                        </h4>
                    </p>
                    <div id="slider" style="width: 300px;"></div>
                </h4>
            </div>
        </div>
    </div><!-- /.container -->
</body>

<script src="http://d3js.org/d3.v3.min.js"></script>
<script>
    <!-- Javascript -->
    $("#loading").hide();
    var selectedCorr = 1;
    $(function () {
        $("#slider").slider({
            min: -100000,
            value: selectedCorr * 100000,
            max: 100000,
            slide: function (event, ui) {
                selectedCorr = ui.value / 100000;
                filterGraph();
                $("#corr").val(selectedCorr);
            }
        });

        $("#corr").val($("#slider").slider("values", 0) / 100000);
    });

    var jsonFile = null;
    $(function() {

      $("#button-go").click( function() {
          $("#loading").show();
          var getQuery = "year="+$("#year").val()+"&duration="+$("#duration").val()+"&clusters="+$("#num-clusters").val();
          $.get("/visualize?"+getQuery, function(response,status) {
                    $("#loading").hide();
                    if(status === 'success') {
                        $("#file option").remove();

                        for(var i = 0; i < response.result.length; i++) {
                            $("#file").append(new Option(i, i));
                        }
                        jsonFile = response.result;
                        $('#button-vis').prop('disabled',false);
                    }
                    else {
                        alert("error ocurred");
                    }
              }
          );}
      );
    });

    $('#button-vis').click(function(){
        var toVisFile = "http://127.0.0.1:5000" + jsonFile[$('#file').val()]+"?get=dummy";
         d3.json(toVisFile, function (error, graphData) {
            graph = graphData;
             removeGraph();
            createGraph(error, graph);
        });
    });

    function filter(links, corr1, corr2) {
        var filteredLinks = new Array();

        for (var i = 0; i < links.length; i++) {
            if (links[i].value <= corr1 && links[i].value <= corr2) {
                filteredLinks.push(links[i]);
            }
        }
        return filteredLinks;
    }

    function filter(links, corr) {
        var filteredLinks = new Array();
        var directionPositive = corr >= 0 ? true : false;
        for (var i = 0; i < links.length; i++) {
            if (directionPositive) {
                if (links[i].value >= corr && links[i].value != 1) {
                    filteredLinks.push(links[i]);
                }
            }
            else {
                if (links[i].value <= corr) {
                    filteredLinks.push(links[i]);
                }
            }
        }
        return filteredLinks;
    }

    var link = null;
    var graph = null;
    var force = null;

    function createGraph(error, graph) {
        var width = 660, height = 500;

        var color = d3.scale.category10();

        force = d3.layout.force()
                .charge(-60)
                .linkDistance(45)
                .size([width, height]);

        var svg = d3.select("body").append("svg")
                .attr("width", width)
                .attr("height", height)
                .attr("class", "col-md-offset-3");

        force
                .nodes(graph.nodes)
                .links(filter(graph.links, selectedCorr))
                .start();

        link = svg.append("g").selectAll(".link").data(filter(graph.links, selectedCorr));
        link.enter().append("line");
        link.exit().remove();
        link.attr("class", "link");
        link.style("stroke-width", function (d) {
            return Math.sqrt(d.value);
        });

        var groupScale = d3.scale.linear()
                .domain([0, 100])
                .range([0, 8]);

        var node = svg.append("g").selectAll(".node")
                .data(graph.nodes)
                .enter().append("circle")
                .attr("class", "node")
                .attr("r", 7)
                .style("fill", function (d) {
                    return color(groupScale(d.group));
                })
                .call(force.drag);

        node.append("title")
                .text(function (d) {
                    return d.name;
                });

        force.on("tick", function () {
            link.attr("x1", function (d) {
                return d.source.x;
            })
                    .attr("y1", function (d) {
                        return d.source.y;
                    })
                    .attr("x2", function (d) {
                        return d.target.x;
                    })
                    .attr("y2", function (d) {
                        return d.target.y;
                    });

            node.attr("cx", function (d) {
                return d.x;
            })
                    .attr("cy", function (d) {
                        return d.y;
                    });
        });
    }

    function filterGraph() {
        force.links(filter(graph.links, selectedCorr)).start();
        link = link.data(filter(graph.links, selectedCorr));
        link.enter().append("line");
        link.exit().remove();
        link.attr("class", "link");
        link.style("stroke-width", function (d) {
            return Math.sqrt(d.value);
        });
    }

    function removeGraph() {
        d3.select("svg").remove();
    }
</script>

